@import url(/css/style.css);

.buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

button.create-project{
    background-color: var(--var-main-color);
    border: 0;
    border-radius: 10px;
    outline: none;
    color: white;
    min-width: 205px;
    padding: 12px 42px;
    cursor: pointer;
    transition: .3s all;
}

button.create-project:hover{
    background-color: var(--var-hover-color);
}

button.create-project:active{
    background-color: var(--var-active-color);
}

button.delete-project{
    background-color: var(--var-red-color);
    border: 0;
    border-radius: 10px;
    outline: none;
    color: white;
    min-width: 205px;
    padding: 12px 42px;
    cursor: pointer;
    transition: .3s all;
}

button.delete-project:hover{
    background-color: var(--var-red-hover-color);
}

button.delete-project:active{
    background-color: var(--var-red-active-color);
}

.komp-content{
    /* background-color: red; */

    height: 320px;
    overflow-y: auto; 
}



.komp-content>table{
    /* padding-top: 30px; */
}

.komp-content>.wrapper-head{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 570px;
    width: 86%;
}

.komp-content>.wrapper-head>.buttons>button.addButton{
    background-color: var(--var-main-color);
    border: 0;
    border-radius: 10px;
    outline: none;
    color: white;
    min-width: 205px;
    padding: 12px 42px;
    cursor: pointer;
    transition: .3s all;
}

.komp-content>.wrapper-head>.buttons>button.addButton:hover{
    background-color: var(--var-hover-color);
}

.komp-content>.wrapper-head>.buttons>button.addButton:active{
    background-color: var(--var-active-color);
}

.komp-content>.wrapper-head>.buttons>button.deleteButton{
    background-color: var(--var-red-color);
    border: 0;
    border-radius: 10px;
    outline: none;
    color: white;
    min-width: 205px;
    padding: 12px 42px;
    cursor: pointer;
    transition: .3s all;
}

.komp-content>.wrapper-head>.buttons>button.deleteButton:hover{
    background-color: var(--var-red-hover-color);
}

.komp-content>.wrapper-head>.buttons>button.deleteButton:active{
    background-color: var(--var-red-active-color);
}


.komp-content>.wrapper-head>p.title{
    font-size: 32px;
    font-weight: 700;
}

div#myModal{
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(217, 217, 217, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
}

div#myModal>.modal-content{
    background-color: white;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    border-radius: 33px;
}

div#myModal>.modal-content>.modal-title{
    font-size: 32px;
    color: black;
    font-weight: 600;
}

div#myModal>.modal-content>form{
    display: flex;
    flex-direction: column;
}

div#myModal>.modal-content>form>p{
    font-size: 12px;
    color: #565555;
    font-weight: 600;
    padding-top: 26px;
    padding-bottom: 8px;
}

div#myModal>.modal-content>form>input{
    padding: 12px 18px;
    border: 1px solid #D2D3D7;
    border-radius: 7px;
    color: #6A6A6A;
    font-weight: 600;
    font-size: 14px;
    outline: none;
}

div#myModal>.modal-content>form>select{
    padding: 12px 18px;
    border: 1px solid #D2D3D7;
    border-radius: 7px;
    color: #6A6A6A;
    font-weight: 600;
    font-size: 14px;
    outline: none;
    cursor: pointer;
}

div#myModal>.modal-content>form>button{
    padding: 14px 0;
    margin-top: 26px;
    border: 0;
    border-radius: 100px;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    color: white;
}

div#myModal>.modal-content>form>button.add{
    background:#59B077;
}

div#myModal>.modal-content>form>button.add:hover{
    background:var(--var-hover-color);
}

div#myModal>.modal-content>form>button.add:active{
    background:var(--var-active-color);
}

div#myModal>.modal-content>form>button.cancel{
    background:#F95B5E;
}

div#myModal>.modal-content>form>button.cancel:hover{
    background:var(--var-red-hover-color);
}

div#myModal>.modal-content>form>button.cancel:hover{
    background:var(--var-red-active-color);
}