@import url(/css/style.css);
.menu{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

a.back{
    text-decoration: none;
    outline: none;
    color: var(--var-grey);
    cursor: pointer;
}

.menu>a{
    text-decoration: none;
    background-color: white;
    color: var(--var-grey);
    width: 178px;
    padding: 10px 0;
    text-align: center;
    border: 1px solid var(--var-light-grey);
    cursor: pointer;
    transition: .2s all;
}

.menu>a:hover{
    background-color: var(--var-main-color);
    color: white;
    border: 1px solid var(--var-main-color);
}

.menu>a:active{
    background-color: var(--var-active-color);
    color: white;
    border: 1px solid var(--var-active-color);
}

.menu>a.active{
    background-color: var(--var-main-color);
    color: white;
    border: 1px solid var(--var-main-color);
}

.menu>a:first-child{border-bottom-left-radius: 5px;}
.menu>a:first-child{border-top-left-radius: 5px;}
.menu>a:last-child{border-bottom-right-radius: 5px;}
.menu>a:last-child{border-top-right-radius: 5px;}

.product{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: white;
    padding: 20px 20px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.product-info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.product-info>p{
    font-weight: 500;
    color: var(--var-grey);
    margin-bottom: 10px;
    margin-right: 20px;
}

.product-info>p.edit{
    background-color: #F1F1F1;
    padding: 5px 8px;
    min-height: 30px;
    border-radius: 7px;
}

.product-dimensions{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.product-dimensions>.size{
    display: flex;
    align-items: center;
    gap: 10px;
}

.product-dimensions>p{
    font-weight: 500;
    color: var(--var-grey);
    margin-bottom: 10px;
}

.product-dimensions>p.edit{
    background-color: #F1F1F1;
    padding: 5px 8px;
    min-height: 30px;
    border-radius: 7px;
}

.product-dimensions>.size>p.edit{
    background-color: #F1F1F1;
    padding: 5px 8px;
    min-height: 30px;
    border-radius: 7px;
}

.product-dimensions>.size>p.empty{
    background-color: white;
    padding: 5px 8px;
    min-height: 30px;
    border-radius: 7px;
}

.product-descr>p{
    font-weight: 500;
    color: var(--var-grey);
    margin-bottom: 10px;
}

.product-descr>p.edit{
    background-color: #F1F1F1;
    height: 80%;
    padding: 5px 8px;
    border-radius: 7px;
}

.product-image{
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-image>img{
    height: 80%;
}

button.addKompl{
    background-color: var(--var-main-color);
    border: 0;
    border-radius: 10px;
    outline: none;
    color: white;
    min-width: 205px;
    padding: 12px 42px;
    cursor: pointer;
    transition: .3s all;
}

button.addKompl:hover{
    background-color: var(--var-hover-color);
}

button.addKompl:active{
    background-color: var(--var-active-color);
}

button.deleteKompl{
    background-color: var(--var-red-color);
    border: 0;
    border-radius: 10px;
    outline: none;
    color: white;
    min-width: 205px;
    padding: 12px 42px;
    cursor: pointer;
    transition: .3s all;
}

button.deleteKompl:hover{
    background-color: var(--var-red-hover-color);
}

button.deleteKompl:active{
    background-color: var(--var-red-active-color);
}

.modal{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(217, 217, 217, 0.6);
}

.modal>.table-data{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
}

.modal>.table-data>table{
    min-width: 800px;
}


.second-table-data{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.second-table-data>.second-table{
    position: relative;
    width: 100%;
}

.line{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

p{
    color: black;
    font-size: 16px;
    font-weight: 500;
}

input{
    height: 30px;
    border: 1px solid #E0E4E8;
    border-radius: 7px;
    padding: 8px 10px;
    outline: none;
}

input:focus{
    border: 1px solid #59B077;
}

.object{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 330px;
}

.date{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 260px;
}

.date>input{
    width: 119px;
}

.color{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 330px;
}

.izd{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 260px;
}

.izd>input{
    width: 119px;
}

.brigada{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 330px;
}

.mterpog{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 260px;
}

.mterpog>input{
    width: 119px;
}

.address{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 330px;
}

td{
    height: 200px;
}

#drawingCanvas {
    border: 1px solid black;
    cursor: crosshair;
}

.ctrl-popup {
    position: absolute;
    display: none;
    background-color: white;
    border: 1px solid #ccc;
    padding: 5px;
    z-index: 9999;
}

.popup-option {
    cursor: pointer;
}

.width-popup {
    position: absolute;
    display: none;
    background-color: white;
    border: 1px solid #ccc;
    padding: 5px;
    z-index: 9999;
}

.canvas-panel {
    position: relative;
    display: inline-block;
}

.canvas-panel:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0px; /* Регулируем отступ слева */
    width: 20px; /* Ширина панели */
    height: 100%; /* Высота как у canvas */
    background-color: #ffffff; /* Белый фон */
    z-index: 1; /* Чтобы панель была под canvas */
}

#textButton {
    position: absolute;
    z-index: 1;
    left: 4px;
    margin-top: 5px;
    background-color: transparent;
    border: 0;
    font-size: 14px;
    cursor: pointer;
}

#textButton:hover {
    color: green;
}

#arrowButton {
    position: absolute;
    z-index: 1;
    left: 4px;
    margin-top: 20px;
    background-color: transparent;
    border: 0;
    font-size: 14px;
    cursor: pointer;
}

#arrowButton:hover {
    color: green;
}