@import url(/css/style.css);
.wrapper>.setting{
    background-color: #FFFFFF;
    border: 1px solid #E0E4E8;
    border-radius: 5px;
    padding: 20px;
}

.wrapper>.setting>.link-db{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper>.setting>.link-db>.data{
    display: flex;
    align-items: center;
}

.wrapper>.setting>.link-db>.data>p{
    color: #6A6A6A;
    font-weight: 500;
    font-size: 14px;
}

.wrapper>.setting>.link-db>.data>.file-path{
    margin-left: 30px;
    background-color: #F1F1F1;
    border-radius: 7px;
    padding: 5px 8px;
    min-width: 450px;
}

.wrapper>.setting>.link-db>.data>.file-path>p{
    color: #6A6A6A;
    font-weight: 500;
    font-size: 14px;
}

.input-file {
	position: relative;
	display: inline-block;
}
.input-file span {
	position: relative;
	display: inline-block;
	cursor: pointer;
	outline: none;
	text-decoration: none;
    min-width: 205px;
	font-size: 14px;
	vertical-align: middle;
	color: rgb(255 255 255);
	text-align: center;
	border-radius: 10px;
	background-color: #59B077;
	height: 40px;
	padding: 12px 0;
	box-sizing: border-box;
	border: none;
	margin: 0;
	transition: background-color 0.2s;
}
.input-file input[type=file] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}
 
/* Hover/active */
.input-file:hover span {
	background-color: #4D9E69;
}
.input-file:active span {
	background-color: #478F60;
}
 
/* Disabled */
.input-file input[type=file]:disabled + span {
	background-color: #eee;
}

button#submit-button{
    background-color: #59B077;
    border: 0;
    padding: 12px 0;
    color: #FFFFFF;
    min-width: 205px;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s all;
}

button#submit-button:hover{
    background-color: #4D9E69;
}

button#submit-button:active{
    background-color: #478F60;
}

button#submit-button:focus{
    background-color: #478F60;
}