@import url(/css/variables.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.page{
    display: grid;
    grid-template-columns: 1fr 7fr;
    background-color: var(--var-custom-white);
}

header{
    display: flex;
    justify-content: end;
    height: 57px;
    background-color: white;
    padding: 11px 25px;
}

.side{
    min-height: 100vh;
    padding-top: 7px;
    height: 100%;
    background-color: white;
}

.side>.logo{
    display: block;
    margin: 0 auto;
    padding: 11px 21px;
    background-color: var(--var-main-color);
    font-style: 14px;
    color: white;
    font-weight: 500;
    border-radius: 34px;
    border: 2px solid white;
    outline:solid var(--var-main-color) 2px;
    cursor: pointer;
}

.side>.nav{
    margin-top: 33px;
    padding-left: 21px;
}

.side>.nav>.side-title{
    font-size: 14px;
    font-weight: 600;
    color: var(--var-grey);
}

.side>.nav>.nav-link{
    display: flex;
    margin-top: 19px;
    align-items: center;
    padding: 7px 10px;
    cursor: pointer;
    width: 160px;
    border-radius: 10px;
    transition: .3s all;

}

.side>.nav>.nav-link>a{
    text-decoration: none;
    outline: none;
    color: var(--var-grey);
    font-style: 12px;
    font-weight: 500;
    margin-left: 19px;
}

.side>.nav>.nav-link.active{
    background-color: var(--var-main-color);
    color: white;
    border-radius: 10px;
}

.side>.nav>.nav-link.active>img{
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
}

.side>.nav>.nav-link.active>a{
    color: white;
}

.side>.nav>.nav-link:hover{
    background-color: var(--var-main-color);
    color: white;
    border-radius: 10px;
}

.side>.nav>.nav-link:hover img {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
    transition: .2s;
}

.side>.nav>.nav-link:hover a {
    color: white;
    transition: .2s;
}

.profile{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.profile>.information>.name{
    font-style: 14px;
    font-weight: 600;
    color: var(--var-custom-black); 
}

.profile>.information>.role{
    font-style: 10px;
    font-weight: 500;
    color: var(--var-grey);
}

.wrapper{
    padding: 10px;
}

.wrapper>.wrapper-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

table{
    width: 100%;
}

tr{
    border: 1px solid #E0E4E8;
    background-color: #FFFFFF;
}

tbody>tr{
    transition: .1s all;
}

tbody>tr:hover{
    background-color: #F6F6F6;
    box-shadow: 0 7px 10px #cecece;
    cursor: pointer;
}

thead>tr>th{
    transition: .1s all;
}

thead>tr>th:hover{
    background-color: #F6F6F6;
    box-shadow: 0 7px 10px #cecece;
    cursor: pointer;
}

thead>tr{
    border-radius: 12px 12px 0 0;
}

th{
    padding: 8px 8px;
    color: #6A6A6A;
    font-weight: 600;
    font-size: 14px;
    max-width: 260px;
}

th>a{
    text-decoration: none;
    color: #6A6A6A;
    font-weight: 600;
}

td{
    padding: 8px 0;
    text-align: center;
    font-size: 14px;
    color: #6A6A6A;
}

td:focus{
    outline: 2px solid #59B077;
    border-radius: 3px;
}

tr:last-child td:first-child { border-bottom-left-radius: 10px; }
tr:last-child td:last-child { border-bottom-right-radius: 10px; }

tr:last-child th:first-child { border-top-left-radius: 10px; }
tr:last-child th:last-child { border-top-right-radius: 10px; }