:root{
    --var-main-color: #59B077;
    --var-hover-color: #4D9E69;
    --var-active-color: #478F60;
    --var-custom-white: #F2F2F3;
    --var-custom-black: #1E1E1E;
    --var-grey: #6A6A6A;
    --var-light-grey: #E0E4E8;
    --var-red-color: #F95B5E;
    --var-red-hover-color: #FF7476;
    --var-red-active-color: #D4474A;
}